body{
    line-height: 1.4;
    font: inherit;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F8F7F3;
    color: rgba(0, 0, 0, 0.8);
}

p{
    line-height: 1.2;
    max-width: 65ch;
}