:root{
    --textColor          :rgb(51, 51, 51);

    --headerHeight       :  20%;
    --headerColor        : white;

    --tabMenuColor       :rgb(209, 209, 209);
    --switcherColor      :rgb(255, 255, 255);
    
    --tabHomeColor       :rgb(85, 85, 85);
    --tabHistoryColor    :rgb(21, 193, 216);
    --tabAlertsColor     :rgb(156, 151, 151);

    --historyTabScale    :  1.15;

    --homeTabPosition    :    0%;
    --historyTabPosition :  105%;
    --alertsTabPosition  :  210%;
}

html,body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 0;
    color :var(--textColor);
    height: 100%;
    font: inherit;
    font-family: system-ui;
    vertical-align: baseline;
    -webkit-overflow-scrolling: touch;
    font-weight: bold;
}

#header{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 99;
    height:var(--headerHeight);
    background-color: var(--headerColor);
    width: 100%;
}
#userName{
    position: absolute;
    left: 8%;
    top: 8%;
}

#connectionState{
    position: absolute;
    right: 8%;
    top: 8%;
    cursor: pointer;
}

#fakeOverlay{
    position: fixed;
	z-index: 9;
	display: none;
    justify-content: center;
    align-items: center;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(.15rem);
	background-color: rgba(0,0,0,.55);
}
#fakeConnection{
    box-shadow: 0 0 500px 200px rgba(0, 0, 0, 1);
    position: relative;
    display:none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:50%;
    height: 30%;
    background-color: white;
    border-radius: 15px;
    z-index:99;
}

#fakeLabel{
    display: flex;
    justify-content: center;
    color: black;
    z-index:99;
    left: 15%;
    width: 90%;
    font-size: 1rem;
    height: 10%;
    
}
#fakeInput{
    
    color: black;font-size: 1rem;
    z-index:999999;
    width: 30%;
    height: 10%;
}
#fakeButton{
    width: 30%;
    height: 30%;
    cursor: pointer;
}

.linksMenu{
    position: absolute;
    overflow:hidden;
    display: flex;
    align-items: center;
    opacity: 45%;
    bottom: 25%;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size:large;
    line-height: 1.3em;
    background-color: var(--tabMenuColor);
    border-radius:10px;
    transition: .6s;
}

.linksMenu:hover{
    opacity: 100%;
}

.linksMenu > li {
    background:  var(--tabMenuColor);
    border-radius: 10px;
}

#switcher {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    color: var(--textColor);
    width: 30% ;
    padding: 0rem 0.2rem;
    font-size: clamp(17px, 7vw, 18px);
    background-color: var(--switcherColor);
    border-radius: 10px;
    box-shadow: 0 0px 6px rgb(99, 94, 94);
}

.linksMenu a {
    display: inline-flex;
    padding: .5rem;
    margin: .2rem;
    color: var(--textColor);
    text-decoration: none;
}

.tabContent{
    /* position: absolute; */
    width: 100%;
    bottom: 0;
    height: calc(100% - var(--headerHeight));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: auto;
    /* border-radius: 0 0 5px 5px; */
}

.graphLimit{
    height:70%;
    width: 100%;
}

.realTimeSensorDataContainer{
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
}

.realTimeSensorDataView{
    background: gray;
    border-radius: 1em;
    aspect-ratio: 1/1;
    padding: 25%;
    margin-bottom: 1em;
}

.realTimeSensorDataView > p{
    text-align: center;
}

.tabsContainer{
    position: absolute;
    width: 100%;
    height: calc(100% - var(--headerHeight));
    bottom: 0;
}

[data-target="tabHome"],[data-target="tabHistory"]{
    display: flex;
    justify-content: center;
    align-items: center;
}

#tabHome{
    position: fixed;
    background-color: var(--tabHomeColor);
}

#tabHistory{
    position: fixed;
    background-color: var(--tabHistoryColor);
    transform: translateX(100%);
}

#tabAlerts{
    position: fixed;
    display: flex;
    justify-content: start;
    background-color: var(--tabAlertsColor);
    transform: translateX(100%);
}

#latestAlertsContainer{
    display: flex;
    padding: 0;
    gap: 1em;
}

.latestAlert{
    list-style: none;
    width: min(35vw, 10em);
    aspect-ratio: 1/1;
    border-radius: 5%;
    padding: 1em;
    border: 0.05em solid #adaaaa;
}

#alertsHistory{
    overflow-y: scroll;
    padding: 0.2em;
    display: flex;
    gap: 0.3em;
    width: fit-content;
    height: 18em;
    background-color: rgba(255,255,255, 0.4);
    flex-direction: column;
    border-radius: 2% / 4%;
}

.alertHistoryItem{
    list-style: none;
    width: min(85vw, 50em);
}

.alertHistoryItem > div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    border-radius: 2% / 15%;
    box-shadow: 2px 3px 3px rgb(160,160,160);
}

.toastActive{
    animation: toastNotification 4s;
    position: fixed;
    background-color: #fff;
    text-align: center;
    width: 15em;
    padding: 3em;
    right: -25%;
    bottom: 5%;
    border-radius: 30px;
    z-index: 10;
}

@keyframes toastNotification {
    0% { transform: translateX(0%);}
    10% { transform: translateX(-120%);}
    90% { transform: translateX(-120%);}
    100% { transform: translateX(0%);}
}

@keyframes leftToRightIn{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes rightToLeftIn{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes leftToRightOut{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}

@keyframes rightToLeftOut{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes homeToHistory{
    0%{
        color: rgba(0, 0, 0, 0.15);
        transform: translateX(var(--homeTabPosition))scale(1,1);
    }
    100%{
        color: rgba(0, 0, 0, 1);
        transform: translateX(var(--historyTabPosition)) 
                        scale(var(--historyTabScale),.99);
        font-size: 16.75px;
    }
}

@keyframes historyToAlerts{
    0%{
        color: rgba(0, 0, 0, 0.15);
        transform: translateX(var(--historyTabPosition))
                        scale(var(--historyTabScale),1);
    }
    100%{
        color: rgba(0, 0, 0, 1);
        transform: translateX(var(--alertsTabPosition)) scale(1,1);
        font-size: 18px;
    }
}

@keyframes alertsToHistory{
    0%{
        color: rgba(0, 0, 0, 0.15);
        transform: translateX(var(--alertsTabPosition)) scale(1,1);
    }
    100%{
        color: rgba(0, 0, 0, 1);
        transform: translateX(var(--historyTabPosition)) 
                        scale(var(--historyTabScale),1);
        font-size: 16.75px;
    }
}

@keyframes historyToHome{
    0%{
        color: rgba(0, 0, 0, 0.15);
        transform: translateX(var(--historyTabPosition)) 
                        scale(var(--historyTabScale),1);
    }
    100%{
        color: rgba(0, 0, 0, 1);
        transform: translateX(var(--homeTabPosition)) scale(1,1);
        font-size: 18px;
    }
}

@keyframes alertsToHome{
    0%{
        color: rgba(0, 0, 0, 0.15);
        transform: translateX(var(--alertsTabPosition)) scale(1,1);
    }
    100%{
        color: rgba(0, 0, 0, 1);
        transform: translateX(var(--homeTabPosition)) scale(1,1);
    }
}

@keyframes homeToAlerts{
    0%{
        color: rgba(0, 0, 0, 0.15);
        transform: translateX(var(--homeTabPosition))scale(1,1);
    }
    100%{
        color: rgba(0, 0, 0, 1);
        transform: translateX(var(--alertsTabPosition)) scale(1,1);
    }
}
