:root{
    --textColor          :rgb(51, 51, 51);

    --headerHeight       :  20%;
    --headerColor        : white;

    --tabMenuColor       :rgb(209, 209, 209);
    --switcherColor      :rgb(255, 255, 255);
    
    --tabHomeColor       :rgb(85, 85, 85);
    --tabHistoryColor    :rgb(21, 193, 216);
    --tabAlertsColor     :rgb(156, 151, 151);

    --historyTabScale    :  1.15;

    --homeTabPosition    :    0%;
    --historyTabPosition :  105%;
    --alertsTabPosition  :  210%;
}

html,body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 0;
    color :var(--textColor);
    height: 100%;
    font: inherit;
    font-family: system-ui;
    vertical-align: baseline;
    -webkit-overflow-scrolling: touch;
    font-weight: bold;
}

#header{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    z-index: 99;
    height:var(--headerHeight);
    background-color: var(--headerColor);
    width: 100%;
}

.linksMenu{
    opacity: 45%;
    display: flex;
    align-items: center;
    list-style: none;
    position: absolute;
    top:calc(var(--headerHeight) + 5%);
    padding: 0;
    margin: 0;
    font-size:large;
    line-height: 1.3em;
    z-index: 1;
    background-color: var(--tabMenuColor);
    border-radius:10px;
    transition: .6s;
    overflow:hidden;
}

.linksMenu:hover{
    opacity: 100%;
}

.linksMenu > li {
    background:  var(--tabMenuColor);
    border-radius: 10px;
}

#switcher {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    color: var(--textColor);
    width: 30% ;
    padding: 0rem 0.2rem;
    font-size: clamp(17px, 7vw, 18px);
    background-color: var(--switcherColor);
    border-radius: 10px;
    box-shadow: 0 0px 6px rgb(99, 94, 94);
}

.linksMenu a {
    display: inline-flex;
    padding: .5rem;
    margin: .2rem;
    color: var(--textColor);
    text-decoration: none;
}

.tabContent{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: calc(100% - var(--headerHeight));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: auto;
    border-radius: 0 0 5px 5px;
}

.realTimeSensorDataView{
    background: gray;
    border-radius: 1em;
    aspect-ratio: 1/1;
    padding: 25%;
    margin-bottom: 1em;
}

.realTimeSensorDataView > p{
    text-align: center;
}

#tabHome{
    position: fixed;
    background-color: var(--tabHomeColor);
}

#tabHistory{
    position: fixed;
    background-color: var(--tabHistoryColor);
    transform: translateX(100%);
}

#tabAlerts{
    position: fixed;
    background-color: var(--tabAlertsColor);
    transform: translateX(100%);
}

.tabsContainer{
    position: absolute;
    width: 100%;
    height: calc(100% - var(--headerHeight));
    bottom: 0;
}

[data-target="tabHome"],[data-target="tabHistory"],[data-target="tabAlerts"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes leftToRightIn{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes rightToLeftIn{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes leftToRightOut{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}

@keyframes rightToLeftOut{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes homeToHistory{
    0%{
        color: rgba(0, 0, 0, 0.15);
        transform: translateX(var(--homeTabPosition))scale(1,1);
    }
    100%{
        color: rgba(0, 0, 0, 1);
        transform: translateX(var(--historyTabPosition)) 
                        scale(var(--historyTabScale),.99);
        font-size: 16.75px;
    }
}

@keyframes historyToAlerts{
    0%{
        color: rgba(0, 0, 0, 0.15);
        transform: translateX(var(--historyTabPosition))
                        scale(var(--historyTabScale),1);
    }
    100%{
        color: rgba(0, 0, 0, 1);
        transform: translateX(var(--alertsTabPosition)) scale(1,1);
        font-size: 18px;
    }
}

@keyframes alertsToHistory{
    0%{
        color: rgba(0, 0, 0, 0.15);
        transform: translateX(var(--alertsTabPosition)) scale(1,1);
    }
    100%{
        color: rgba(0, 0, 0, 1);
        transform: translateX(var(--historyTabPosition)) 
                        scale(var(--historyTabScale),1);
        font-size: 16.75px;
    }
}

@keyframes historyToHome{
    0%{
        color: rgba(0, 0, 0, 0.15);
        transform: translateX(var(--historyTabPosition)) 
                        scale(var(--historyTabScale),1);
    }
    100%{
        color: rgba(0, 0, 0, 1);
        transform: translateX(var(--homeTabPosition)) scale(1,1);
        font-size: 18px;
    }
}

@keyframes alertsToHome{
    0%{
        color: rgba(0, 0, 0, 0.15);
        transform: translateX(var(--alertsTabPosition)) scale(1,1);
    }
    100%{
        color: rgba(0, 0, 0, 1);
        transform: translateX(var(--homeTabPosition)) scale(1,1);
    }
}

@keyframes homeToAlerts{
    0%{
        color: rgba(0, 0, 0, 0.15);
        transform: translateX(var(--homeTabPosition))scale(1,1);
    }
    100%{
        color: rgba(0, 0, 0, 1);
        transform: translateX(var(--alertsTabPosition)) scale(1,1);
    }
}
